/* Global Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #61387b;
  color: rgb(220 53 109 / 25%);
}

.container {
  -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    box-sizing: border-box;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

/* Header Styles */
header {
  background-color: #61387b;
  color: rgb(220 53 109 / 25%);
  padding: 20px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: rgb(220 53 109 / 25%);
  text-decoration: none;
  padding: 10px;
}

/* Hero Section Styles */
#hero {
  background-image: url('hero-image.jpg');
  background-size: cover;
  background-position: center;
  color: rgb(220 53 109 / 25%);
  text-align: center;
  padding: 200px 0;
}

#hero h1 {
  font-size: 48px;
}

#hero p {
  font-size: 24px;
  margin-bottom: 40px;
}

.btn {
  display: inline-block;
  background-color: #61387b;
  color: rgb(220 53 109 / 25%);
  padding: 10px;
}

.one-third {
  background-size: contain;
  background-position: center;
  background: no-repeat;
}
