/* Global Styles */
body {
  font-family: 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #c7bbe6; /* Light gray background */
  color: #0e0c11; /* Dark gray text */
}

.container {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
}

/* Header Styles */
header {
  background-color: #a79c8e; /* Pastel brown */
  color: #fff;
  padding: 20px;
}

nav ul {	
  list-style-type: none;	
  margin: 0;	
  padding: 0;	
}	
nav ul li {	
  display: inline;	
}	
nav ul li a {	
  color: #fff;	
  text-decoration: none;	
  padding: 10px;	
  transition: color 0.3s ease;	
}
nav ul li a:hover {	
  color: #d4c9bb; /* Lighter pastel brown on hover */
}

&:hover {
  color: #d4c9bb; /* Lighter pastel brown on hover */
}

/* Hero Section Styles */
#hero {
  background-image: url('hero-image.jpg');
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
  padding: 200px 0;

  h1 {
    font-size: 48px;
    margin-bottom: 20px;
  }

  p {
    font-size: 24px;
    margin-bottom: 40px;
  }

  .btn {
    margin-bottom: 40px; /* Adjust this value as per your design preference */
  }

  .btn {
    display: inline-block;
    background-color: #a79c8e; /* Pastel brown */
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #d4c9bb; /* Lighter pastel brown on hover */
    }
  }

  .one-third {
    background: no-repeat;
    background-size: cover;
    background-position: center;
    height: 400px;
  }
}

/* Adjust text color for better contrast in the hero section */
#home-section .hero {
  color: #fff; /* White text */
}

#home-section .hero h1,
#home-section .hero h2,
#home-section .hero p,
#home-section .hero a {
  color: #0e0c11; /* Dark gray text */
}

/* Footer Styles */
footer {
  background-color: #a79c8e; /* Pastel brown */
  color: #fff;
  padding: 40px 0;
  text-align: center;

  p {
    margin: 0;
  }

  a {
    color: #0e0d0d;
    text-decoration: none;
    transition: color 0.3s ease;

    &:hover {
      color: #d4c9bb; /* Lighter pastel brown on hover */
    }
  }
}

/* Project Card Styles */
.project-card {
  border: 1px solid #e0e0e0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  transition: transform 0.2s ease-in-out;
  background-color: #f8f8f8; /* Light gray background */

  &:hover {
    transform: translateY(-5px);
  }

  .project-img img {
    max-width: 100%;
    height: auto;
  }

  .project-info {
    padding: 20px;

    h3 {
      font-size: 24px;
      margin-top: 0;
      color: #333; /* Dark text */
    }

    p {
      font-size: 16px;
      color: #777; /* Slightly darker gray text */
    }

    .btn-primary {
      background-color: #a79c8e; /* Pastel brown */
      color: #fff;

      &:hover {
        background-color: #d4c9bb; /* Lighter pastel brown on hover */
      }
    }
  }
}

/* Course Card Styles */
.course-card {
  padding: 15px; /* adjust as needed */
  display: flex;
  flex-direction: column;
  background-color: #f4edd9; /* muted light brownish shade */
  border-radius: 10px; /* Rounded corners for the card */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow for depth */
  margin-bottom: 20px; /* Spacing between cards if they stack */
}

.course-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Ensure badge container resizes correctly */
[data-iframe-width] {
  width: 100%; /* make it responsive */
  height: auto;
}

.course-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.15);
}

.course-info h3 {
  font-size: 1.5em;
  margin-bottom: 15px;
  color: #053c64;
}

.course-info p {
  font-size: 1em;
  color: #332d2d;
  line-height: 1.4;
}

/* Section Styles (Add more styles for other sections as needed) */
#home-section {
  background-color: #dec7f2; /* Pastel purple */
  color: #333;
  padding: 80px 0;
}

/* About Section Styles */
#about-section {
  background-color: #dec7f2; /* Pastel purple */
  color: #333;
  padding: 80px 0;
}

/* Resume Section Styles */
#resume-section {
  background-color: #ffe4c4; /* Pastel peach */
  color: #333;
  padding: 40px 0;
}

/* Skills Section Styles */
#skills-section {
  background-color: #b0e0e6; /* Pastel powder blue */
  color: #333;
  padding: 40px 0;
}

#outside-section {
  background-color: #eef0b6; /* Pastel honeydew */
  color: #333;
  padding: 80px 0;
}

#outside-section h3 {
  color: #5a6832; /* A darker green for contrast against the light yellowish-green background */
  margin-bottom: 20px;
  font-weight: bold;
  border-bottom: 2px solid #5a6832; /* Adds a subtle underline for distinction */
  display: inline-block;
  padding-bottom: 10px;
}

/* Projects Section Styles */
/* #projects-section {
  background-color: #e0eee0; /* Pastel honeydew 
  color: #333;
  padding: 80px 0;
} */

/* Blog Section Styles */
#leadership-section {
  background-color: #f2e0e3; /* Pastel pink */
  color: #333;
  padding: 40px 0;
}

/* Contact Section Styles */
#contact-section {
  background-color: #ede2cf; /* Pastel tan */
  color: #333;
  padding: 80px 0;
}

/* Leadership & Organizations Section Styling */
.subtitle {
  color: #ed7d83; /* A pastel shade of pink */
}

.project-card {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s;
}

.project-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
}

.project-img .img-fluid {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-info {
  padding: 20px;
  background-color: #edf3f7; /* Light bluish-grey background */
}

.project-info h3 {
  font-weight: 200;
  margin-bottom: 10px;
}

.discover-btn {
  background-color: #f0bcd4; /* Consistent pastel pink */
  border-color: #e067c4;
  color: #fff;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.discover-btn:hover {
  background-color: #db6c75; /* Slightly darker shade for hover */
  color: #fff;
}

/* CSS for Leadership Cards */
.leadership-card {
  background-color: #f0c9d5; /* Lighter Pastel Pink for Cards */
  margin-bottom: 25px;
  margin-right: 2px;
  padding: 10px 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08); /* Shadow for depth */
  transition: transform .2s; /* Animation for hover effect */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.big-image-container {
  width: 100%;
  max-height: 230px; /* Adjust the height as needed */
  overflow: hidden;
  border-radius: 10px 10px 0 0; /* Rounded top corners */
}

.big-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.card-content {
  padding: 20px;
  width: 100%;
}

.leadership-card:hover {
  transform: scale(1.03); /* Slight enlargement on hover */
}

.leadership-card h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
  font-weight: 600;
  color: #D43A69;
}

.leadership-card .role-title {
  color: #A32B56;
  margin-bottom: 15px;
}

.leadership-card p {
  color: #6B4D63;  /* Adjusted Pink Shade for Card Text */
  line-height: 1.6;
  margin-bottom: 20px;
}

/* Work Experiences Section Styling */
.work-experience-section {
  background-color: #ceefce; /* Pastel Green Background */
  padding: 50px 0;
}

.work-experience-section h3 {
  font-size: 1.5em;
  margin-bottom: 15px;
  font-weight: 600;
  color: #044204;  /* Dark Green Color for Headings */
}

.role-title {
  color: #045104;  /* Forest Green Color for Role Titles */
  font-weight: 500;
  margin-bottom: 15px;
}

.work-entry p {
  color: #327521;  /* Adjusted Green Color for Texts */
  font-size: 1.1em; 
  line-height: 1.6;
  margin-bottom: 30px; 
}

.work-entry {
  margin-bottom: 40px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);  /* Shadow to give depth */
  transition: transform .2s; /* Animation for hover effect */
}

.work-entry:hover {
  transform: scale(1.05); /* Hover effect to slightly enlarge on hover */
}

.semi-transparent-bg {
  background-color: rgba(255, 255, 255, 0.7); /* white with 70% opacity */
  background-blend-mode: overlay;
}

/* CSS for Section Background Colors */
.pastel-purple-bg {
  background-color: #dec7f2; /* Pastel purple */
  color: #333;
  padding: 80px 0;
}

.pastel-peach-bg {
  background-color: #ffe4c4; /* Pastel peach */
  color: #333;
  padding: 80px 0;
}

.pastel-powder-blue-bg {
  background-color: #b0e0e6; /* Pastel powder blue */
  color: #333;
  padding: 80px 0;
}

.pastel-tan-bg {
  background-color: #ede2cf; /* Pastel tan */
  color: #333;
  padding: 80px 0;
}

/* Change the color of text in the .subheading span */
.subheading {
  color: #540404; /* Replace #FF0000 with your desired color code */
}

/* Change the color of text in the h1 span */
h1 span {
  color: #540404; /* Replace #00FF00 with your desired color code */
}
